/cmake-build-debug/
/.clang-tidy
/CMakePresets.json
/CMakeUserPresets.json
.idea
.vs
/bin/windows/Debug/screenRecorder.pdb
/bin/windows/Debug/desktop_rec_cfg
/bin/windows/Debug/log
/bin/windows/Debug/config.json
/bin/windows/Debug/screenRecorder.exe
/bin/windows/Debug/screenRecorder.ilk
/bin/windows/Release/screenRecorder.exe
/bin/windows/Release/desktop_rec_cfg
/bin/windows/Release/log
/bin/windows/Release/config.json
/bin/linux/Debug/log
/bin/linux/Debug/config.json
/bin/linux/Debug/screenRecorder
/bin/linux/Debug/desktop_rec_cfg
/bin/linux/Release/log/
/bin/linux/Release/config.json
/bin/linux/Release/screenRecorder
/bin/linux/Release/desktop_rec_cfg
